<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head></h:head>
<h:body>
<h:outputLabel value="Lista de Usuarios" ></h:outputLabel><br></br>
<h:dataTable value="#{usuarioBacking.usuarios}" var="elemento">
			<f:facet name="header">
					<h:outputText value="TABLA USUARIOS"/>
			</f:facet>
			<h:column>
				<f:facet name="header">
					<h:outputText value="NOMBRE"/>
				</f:facet>
				<h:outputText value="#{elemento.nombre}"/>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="EMAIL"/>
				</f:facet>
				<h:outputText value="#{elemento.email}"/>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="DIRECCION"/>
				</f:facet>
				<h:outputText value="#{elemento.direccion}"/>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="TELEFONO"/>
				</f:facet>
				<h:outputText value="#{elemento.telefono}"/>
			</h:column>
</h:dataTable>
</h:body>
</html>
