<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head></h:head>
<h:body>
	<h:dataTable value="#{productoBacking.productos}" var="elemento">
		<f:facet name="header">
			<h:outputText value="TABLA PRODUCTOS"/>
		</f:facet>
		<h:column>
			<f:facet name="header">
				<h:outputText value="ID"/>
			</f:facet>
			<h:outputText value="#{elemento.id}"/>
		</h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="CATEGORIA"/>
			</f:facet>
			<h:outputText value="#{elemento.nombreCategoria}"/>
		</h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="NOMBRE"/>
			</f:facet>
			<h:outputText value="#{elemento.nombreProducto}"/>
		</h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="PRECIO"/>
			</f:facet>
			<h:outputText value="#{elemento.precioUnidad}"/>
		</h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="STOCK"/>
			</f:facet>
			<h:outputText value="#{elemento.stock}"/>
		</h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="EDITAR"/>
			</f:facet>
			<h:form>
  				<h:commandButton value="Editar" action="#{productoBacking.editar(elemento)}"/>
			</h:form>
		</h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="ELIMINAR"/>   
			</f:facet>
			<h:form>
  				<h:commandButton value="Eliminar" action="#{productoBacking.delete(elemento)}" />
			</h:form>
		</h:column>
		<h:inputHidden value="#{elemento.id}" var="productoID"/>
	</h:dataTable>
	<br></br>
	<h:form>
		<h:commandButton value="Nuevo" action="#{productoBacking.nuevoV()}"/>
	</h:form>	
	<br></br>
	<h:form>
		<h:panelGrid columns="2" rendered="#{productoBacking.nuevo==true}" >
			<h:outputText value="Categoria:"/>
			<h:selectOneMenu value="#{productoBacking.producto.nombreCategoria}">
			<f:converter converterId="CategoriaConv"/>
				<f:selectItems value="#{productoBacking.categorias}"></f:selectItems>
			</h:selectOneMenu>
			<h:outputText value="Nombre:"/>
			<h:inputText value="#{productoBacking.producto.nombreProducto}" id="nombre" required="true"/>
			<h:outputText value="Precio:" />
			<h:inputText value="#{productoBacking.producto.precioUnidad}" id="precio" required="true"/>
			<h:outputText value="Stock:" />
			<h:inputText value="#{productoBacking.producto.stock}" id="stock" required="true"/>
			<h:commandButton action="#{productoBacking.nuevoProducto()}" value="Crear Producto" />
		</h:panelGrid>
	</h:form>
	
	<h:form>
		<h:panelGrid columns="2" rendered="#{productoBacking.editar==true}">
			<h:outputText value="Categoria:"/>
			<h:selectOneMenu value="#{productoBacking.producto.nombreCategoria}">
			<f:converter converterId="CategoriaConv"/>
				<f:selectItems value="#{productoBacking.categorias}"></f:selectItems>
			</h:selectOneMenu>
			<h:outputText value="Nombre:"/>
			<h:inputText value="#{productoBacking.producto.nombreProducto}" required="true"/>
			<h:outputText value="Precio:" />
			<h:inputText value="#{productoBacking.producto.precioUnidad}" required="true"/>
			<h:outputText value="Stock:" />
			<h:inputText value="#{productoBacking.producto.stock}" required="true"/>
			<h:commandButton action="#{productoBacking.actualizar}" value="Actualizar Productos" />
		</h:panelGrid>
	</h:form>
</h:body>
</html>
