<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:form>
	<h:panelGrid columns="2">
		<h:outputText value="Nombre:" />
		<h:inputText value="#{usuarioBacking.usuario.nombre}"/>
		<h:outputText value="Contraseña:" />
		<h:inputSecret value="#{usuarioBacking.usuario.contrasena}"/>
		<h:outputText value="Email:" />
		<h:inputText value="#{usuarioBacking.usuario.email}" />
		<h:outputText value="Dirección:" />
		<h:inputText value="#{usuarioBacking.usuario.direccion}" />
		<h:outputText value="Teléfono:" />
		<h:inputText value="#{usuarioBacking.usuario.telefono}" />
		<h:commandButton action="#{usuarioBacking.nuevoUsuario()}" value="Confirmar" />
	</h:panelGrid>
	
</h:form>
</html>
